@model ApPets.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">

    <title>@ViewData["Title"] - ApPets</title>

    <environment include="Development">
        <!-- Icons-->
        <link href="~/vendors/@@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
        <link href="~/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
        <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    </environment>

    <style>
      .input-validation-error{
        border-color: #f86c6b;
      }
    </style>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <form id="commentForm" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                          <h1>Registrar</h1>
                          <p class="text-muted">Crea tu cuenta</p>
                          
                          <!-- Registrar el email -->
                          <div class="form-group">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">@@</span>
                              </div>
                              <input asp-for="Email" class="form-control" type="text" placeholder="Email">                              
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                          </div>
                          
                          <!-- Password -->
                          <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                              <input asp-for="Password" class="form-control" type="text" placeholder="Contraseña">                              
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                          </div>
                          
                          <div class="form-group">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="ConfirmPassword" class="form-control" type="text" placeholder="Confirmar contraseña">        
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                          </div>
                          
                          <button type="submit" class="btn btn-block btn-success">Registrar</button>
                        </form>
                    </div>
                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/jquery/js/jquery.min.js"></script>
    <script src="~/vendors/popper.js/js/popper.min.js"></script>
    <script src="~/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="~/vendors/@@coreui/coreui/js/coreui.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>
</html>
